/*----Common-Style---*/

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
} /*top-bottom left-right automatically determined 


/*---Start-Navbar-styles--*/

.navbar-info {
  width: 100%;
  float: left;
  padding: 5px 0;
  position: fixed;
  top: 0;
  z-index: 4;
} /* as we used position  for overlapping*/

.navbar-infoab {
  width: 100%;
  float: left;
  padding: 5px 0;
  background: #0b7bb4;
  position: fixed;
  top: 0;
  z-index: 4;
}

.bg-scrolling {
  background: #0b7bb4;
}
.navbar-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 4px;
}

.logo a span {
  display: block;
  font-size: 14px;
}

.navbar-features ul li {
  display: inline-block;
  margin: 0 14px 0 0;
}

.navbar-features ul li:last-of-type {
  margin: 0;
  color: #fff;
  cursor: pointer;
}

.navbar-features ul li a:hover {
  color: #ff7028;
}

.navbar-features ul li a {
  padding: 10px;
  display: inline-block;
  color: #fff;
  transition: 0.8s;
}

/*--End--Navbar-styles--*/

/*---Start-banner-info-styles--*/

.banner-info {
  width: 100%;
  height: 100vh;
  float: left;
  position: relative;
}

.banner-info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(51 49 185 / 60%);
  z-index: 1;
}

.banner-info video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.banner-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
}

.banner-cont h1 {
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.banner-cont h1 span {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}

.banner-cont h4 {
  font-size: 24px;
  letter-spacing: 7px;
  margin: 15px 0 20px 0;
}

.banner-cont p {
  letter-spacing: 4px;
  font-size: 18px;
}

.arrow-indicator {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 50px;
  border-radius: 20px;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.arrow-indicator .fa {
  color: #fff;
  font-size: 20px;
}

/*---End-banner-info-styles--*/

/*---Start-experience-info-styles--*/

.experience-info {
  width: 100%;
  float: left;
  padding: 60px 0;
}

.page-headings {
  text-align: center;
}

.Steps {
  text-align: center;
}

.Steps h3 {
  color: #0195ff;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
}

.steps1 {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #434242;
}

.page-headings h3 {
  color: #0195ff;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
}

.page-headings p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #434242;
}

.box-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 0 0;
}

.mid-box {
  width: 20%;
  text-align: center;
  border-radius: 10px;
  padding: 25px;
  cursor: pointer;
}

.mid-box .fa {
  color: #0195ff;
  font-size: 60px;
}

.mid-box h6 {
  font-size: 16px;
  margin: 14px 0 0 0;
  letter-spacing: 2px;
  color: #000;
}

/*---End-experience-info-styles--*/

/*---Start-about-info-styles--*/

.about-info {
  width: 100%;
  float: left;
  padding: 130px 0;
  background: #f4f2f2;
}

.about-box {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0 0;
}

.large-box {
  width: 55%;
  height: 414px;
}

.large-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.small-box {
  width: 40%;
}

.small-box-item {
  margin: 0 0 14px 0;
  height: 200px;
}

.small-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*---End-about-info-styles--*/

/*---Start-ourservices-info-styles--*/

.ourservices-info {
  width: 100%;
  float: left;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(4, 143, 217, 0.6)),
    url(../images/1.jpg) no-repeat center center;
  background-position: fixed;
  background-size: cover;
  padding: 60px 0;
}

.ourservices-info .page-headings h3 {
  color: #fff;
  font-size: 40px;
}

.ourservices-info .page-headings p {
  color: #fff;
}

.ourservices-info ul {
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin: 50px 0 0 0;
}

.ourservices-info ul li {
  list-style: none;
  padding: 10px 0 0 0;
  color: #fff;
  font-size: 18px;
  width: 20%;
  text-align: center;
  cursor: pointer;
  line-height: 26px;
  transition: 0.8s;
}

.ourservices-info ul li:hover {
  color: #0195ff;
}

.ourservices-info ul li .fa {
  margin: 0 10px 0 0;
}

/*---End-ourservices-info-styles--*/

/*---Start-team-info--*/

.team-info {
  width: 100%;
  float: left;
  padding: 130px 0;
  background: #f4f2f2;
}

.team-box {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0 0;
}

.team-box-item {
  width: 23%;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border-radius: 10px;
  transition: 0.8s;
}

.team-box-item:hover {
  box-shadow: 0 0 10px rgb(0, 238, 255);
}

.team-box-item-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.team-box-item-btm {
  padding: 14px;
  text-align: center;
}

.team-box-item-btm h5 {
  color: #0195ff;
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: bold;
}

.team-box-item ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}

.team-box-item ul li:last-of-type {
  margin: 0;
}

.team-box-item ul li a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0195ff;
  color: #fff;
  border-radius: 50%;
}

/*---End-team-info--*/

/*---Start-gallery-info--*/

.gallery-info {
  width: 100%;
  float: left;
  padding: 130px 0;
  background: url("../images/image.png") no-repeat center right;
  background-size: 300px;
}

.gallery-row {
  margin: 50px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 25%;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*---End-gallery-info--*/

.book-info {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 130px 0;
  align-items: center;
  background: #f4f2f2;
}

.book-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}

.book-box-item {
  width: 23.33%;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border-radius: 10px;
  overflow: hidden;
}

.book-box-item:hover .book-box-item-top img {
  transform: scale(1.1);
}

.book-box-item-top {
  position: relative;
}

.book-box-item-top p {
  position: absolute;
  top: 0;
  right: 0;
  background: #0195ff;
  padding: 10px;
  border-top-left-radius: 10px;
  color: #fff;
}

.book-box-item-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: 0.8s;
}

.book-box-item-btm {
  text-align: center;
  padding: 20px;
}

.book-box-item-btm ul li {
  list-style-type: none;
  display: inline-block;
  color: #ffdf00;
  cursor: pointer;
}

.book-box-item-btm h6 {
  font-size: 20px;
  font-weight: bold;
  margin: 14px 0;
}

.book-box-item-btm a {
  padding: 10px 20px;
  border-radius: 5px;
  background: #0195ff;
  display: inline-block;
  color: #fff;
}

.connect-info {
  width: 100%;
  float: left;
  padding: 130px 0;
  background: url("../images/image.png") no-repeat center right;
  background-size: 300px;
  overflow: hidden;
}

.connect-features {
  text-align: center;
  margin: 50px 0 0 0;
}

.connect-features ul {
  margin: 0 0 50px 0;
}

.connect-features ul li {
  list-style: none;
  padding: 10px 0;
}

.connect-features ul li a {
  color: #0195ff;
}

.connect-features iframe {
  border: 1px solid #cdd0d3 !important;
  border-radius: 10px;
}

.footer {
  padding: 14px 0;
  background: #0195ff;
  text-align: center;
  color: #fff;
  width: 100%;
  float: left;
  overflow-x: hidden;
}

/*---Start-of-Upload-info--*/

* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}
.container1 {
  background: #222;
  color: #fff;
  background-size: cover;
  background-position: center;
  max-width: 450px;
  height: 100vh;
  margin: auto;
  position: relative;
}
#textbox {
  position: absolute;
  left: 0;
  bottom: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.upload-icon {
  position: absolute;
  width: 60px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

h1 {
  color: darkslategray;
}

p {
  font-size: 12pt;
  color: black;
}
canvas {
  height: 175px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

input {
  font-family: verdana;
  font-size: 12pt;

  input[type="file"] {
    display: none;
  }

  .upload-label {
    display: inline-block;
    padding: 12px 30px;
    background: #1a1552;
    color: #fff;
    font-size: 1em;
    transition: all 0.4s;
    cursor: pointer;
  }

  .upload-label:hover {
    background: #0f0f0f;
    color: #e9ecea;
  }

  .loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #1c1661;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .can1 {
    text-align: center;
    margin-top: 20px;
  }

  #finput {
    display: none;
    /* Hide the file input */
  }

  .can {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
  }

  input[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
