
<!DOCTYPE html>
<html lang="en">
<head>
<title>C19 detection</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="charset=utf-8" />

<link href="../css/font-awesome.css" rel="stylesheet"> 
<link href="../css/style.css" rel="stylesheet"> 


<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Federo" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<!--//fonts-->
</head>
<body>

		<!--Start-Fixed Navigation bar-->
		
			<section class="navbar-info">
				<div class="container">
					<div class="navbar-features">

						<!--logo-->

							<div class="logo">
								<a href="#">COVID-19 DETECTION<span>USING CHEST X-RAYS</span></a>
							</div>

						<!--End-logo-->


						<!--navbar-links-used-unordered-list-->

							<ul>
								<div>
								<li><a href="index.html">Home</a></li>
								</div>
								<div>
								<li><a href="About.html">About</a></li>
								</div>
								<div>
								<li><a href="Upload.html">Upload</a></li>
								</div>
								         <!--including searcgh button--/>


							</ul>






						< !--End-navbar-links-used-unordered-list-->



					</div>
				</div>
			</section>


		<!--End-Fixed Navigation bar-->
				<p>








				</p>



	<!--Start-banner-info-->

			<section class="banner-info" id="home">
				<video src="..\images\How COVID-19 Affects Your Lungs(720P_HD).mp4" type="video/mp4" autoplay muted loop></video>
				<div class="banner-cont">

				</div>


				


			</section>


	<!--End-banner-info-->


	<!--Start-experience-info-->

			<section class="experience-info">
				<div class="container">
					<div class="page-headings">
						<h3>Symtoms of COVID-19</h3>

					</div>


					<div class="box-content">
						<div class="mid-box">
							<img src="..\images\S1.png">
						</div>
						<div class="mid-box">
							<img src="..\images\S2.png">
						</div>
						<div class="mid-box">
							<img src="..\images\S3.png">
						</div>
						<div class="mid-box">
							<img src="..\images\S5.png">
						</div>

					</div>

				</div>
			</section>


	<!--End-experience-info-->




	<!--Start-connect-with-us-->

		
	<!--End-connect-with-us-->


	<!--Start-footer-->

		


	<script src="js/jquery-2.2.4.min.js"></script>

<script>
	  $(window).scroll(function(){           //SCROLL function triggered when scrolled                      // add bg color for the nav bar when moved 
	  	  var scroll = $(window).scrollTop();  //Returns: Number. Description: Get the current vertical position of the scroll bar for the first element in the set of matched elements
		  if (scroll > 400) {
		    $('.navbar-info').addClass('bg-scrolling');
		  }

		  else{
			$('.navbar-info').removeClass('bg-scrolling'); 	
		  }
  	  })
</script>




</body>
</html>


