<!DOCTYPE html>
<html lang="en">
  <head>
    <title>C19 detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="charset=utf-8" />

    <link href="../static/css/font-awesome.css" rel="stylesheet" />
    <link href="../static/css/style.css" rel="stylesheet" />
    <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
    <script src="../static/js/main.js" type="text/javascript"></script>
    <script src="../static/js/upload1.js"></script>

    <!--fonts-->
    <link
      href="//fonts.googleapis.com/css?family=Oswald:300,400,700"
      rel="stylesheet"
    />
    <link href="//fonts.googleapis.com/css?family=Federo" rel="stylesheet" />
    <link
      href="//fonts.googleapis.com/css?family=Lato:300,400,700,900"
      rel="stylesheet"
    />
    <!--//fonts-->
  </head>
  <body>
    <!--Start-Fixed Navigation bar-->

    <section class="navbar-infoab">
      <div class="container">
        <div class="navbar-features">
          <!--logo-->

          <div class="logo">
            <a href="#">COVID-19 DETECTION<span>USING CHEST X-RAYS</span></a>
          </div>

          <!--End-logo-->

          <!--navbar-links-used-unordered-list-->

          <ul>
            <div>
              <li><a href="/">Home</a></li>
            </div>
            <div>
              <li><a href="/about">About</a></li>
            </div>
            <div>
              <li><a href="/upload">Upload</a></li>
            </div>
          </ul>

          <!--End-navbar-links-used-unordered-list-->
        </div>
      </div>
    </section>

    <section class="book-info" id="rooms">
      <div class="page-headings">
        <h3>Upload</h3>
      </div>

      <form action="/predict" method="POST" enctype="multipart/form-data">
        <div class="can1">
          <input
            type="file"
            name="imagefile"
            multiple="false"
            accept="image/*"
            id="finput"
            onchange="upload()"
          />
          <div class="can">
            <canvas id="canv1"></canvas>
          </div>
        </div>
        <input type="submit" value="Predict!" />
      </form>

      <h3>
        <span id="result"> </span>
      </h3>
    </section>

    <!--End-book-rooms-->
  </body>
</html>
